
body{
  font-family: 'Roboto', sans-serif;
}

.topo{
  width: 100%;
  height: 69px;
  background-color: #EC362D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.topo p{
  font-family: 'Roboto', sans-serif;
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
}

.caixa-criar-quizz{
   width: 1052px;
   height: 181px;
   border-radius: 5px;
   border: 1px dashed #D4D4D4;
   margin: 0 auto;
   margin-top: 146px;
   margin-bottom: 77px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.caixa-criar-quizz p{
   color: #B9B9B9;
  padding-bottom: 25px;
  font-size: 20px;
  text-align:center; 
 }

.botao-criar-quizz{
   border: 1px dashed;
   border-radius: 50px;
   color: #EC362D;
   width:136px;
   height: 40px;
   background-color: #ffffff;
   font-size: 21px;
   
}

.titulo{
    width: 1052px;
    margin: 0 auto;
    margin-bottom: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.primeiro{
    margin-top: 146px;

}

.titulo span{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-right: 12px;
}

.titulo ion-icon{
    font-size: 31px;
    color: #EC362D;
  
}

.titulo:first-of-class{
    margin-top: 146px;
}

.todosQuiz, .seusQuiz{
    width:1052px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.seusQuiz{
    margin-bottom: 48px;
}

.quiz{
    width:340px;
    height: 181px;
    position: relative;
    margin-bottom: 12px;
}

.quiz img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quiz .texto{
    position: absolute;
    font-size: 19px;
    color:#ffffff;
    z-index:2;
    bottom: 7px;
    left: 18px;

}
.escondido{
  display: none;
}




@media(max-width:600px){
    .caixa-criar-quizz{
        width: 80%;
    }
    .titulo{
        width: 80%;
    }

    .todosQuiz, .seusQuiz{
        width: 80%;
    }

    .quiz{
        width: 100%;
    
    }

}

