
 body{
  font-family: 'Roboto', sans-serif;
 }
 .topo{
  width: 100%;
  height: 69px;
  background-color: #EC362D;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 77px;
 }

 .topo p{
  font-family: 'Roboto', sans-serif;
  font-size: 37px;
  color: #ffffff;
  font-weight: bold;
 }
 .caixa-criar-quizz{
   width: 1052px;
   height: 181px;
   border-radius: 5px;
   border: 1px dashed #D4D4D4;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }
 .caixa-criar-quizz p{
   color: #B9B9B9;
  padding-bottom: 25px;
  font-size: 20px;
  text-align:center;

  
 }

 .botao-criar-quizz{
   border: 1px dashed;
   border-radius: 50px;
   color: #EC362D;
   width:136px;
   height: 40px;
   background-color: #ffffff;
   font-size: 21px;
   
 }

 .todosQuiz, .seusQuiz{
    width:1052px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.seusQuiz{
    margin-bottom: 48px;
}

.quiz{
    width:340px;
    height: 181px;
    position: relative;
    margin-bottom: 19px;
}

.quiz img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.quiz .texto{
    position: absolute;
    font-size: 19px;
    color: #fff;
    z-index:4;
    bottom: 0px;
}
.icon-titulo{
  font-size: 31px;
  color: #EC362D;
}



@media(max-width:600px){
    .todosQuiz{
        display: block;
        width: auto;
    }

    .quiz{
        margin-bottom: 14px ;
        margin-left: 17px;
        margin-right: 17px;
    }
}
